################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PokedexConsole/obj
/PokedexConsole/.vs/PokedexConsole
/PokedexAPI/bin/Debug/netcoreapp3.1
/PokedexAPI/obj/Debug/netcoreapp3.1/staticwebassets
/PokedexAPI/obj
/PokedexAPI/appsettings.Development.json
